@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-min-height {
    min-height: calc(100dvh - 98px);
  }

  .section-min-height-2 {
    min-height: calc(100dvh - 136px);
  }

  .section-max-height {
    max-height: calc(100dvh - 136px);
  }
}

.spacer {
  aspect-ratio: 1440/312;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../public/spacer.svg");
}

.album-card:hover .play-icon {
  opacity: 1;
}

.dropdown__list li:not(:last-child) {
  border-bottom: 1px solid #ded2a9;
}